---
title: "Cimarrón IO"
layout: default
description: "Imaginemos cosas chingonas."
---
<div class="container"></div>
<div class="jumbotron jumbotron-fluid text-dark">
  <div class="container">
    <div class="container">
      <h1 class="display-4">¡Hola! 👋🏼</h1>
      <p class="lead">My name is Sergio Sánchez Zavala but I go by Chekos (/che/ like Guevara, /kos/ like 'costly') and I hate non-reproducible "science".</p>
      <p class="lead">This section of <a href="https://cimarron.io/">cimarron.io</a> is a collection of <b>datasettes</b>, interactive websites + APIs, I've put together for personal or professional use.</p>
      <hr class="my-4">
      <p><small>This site is a collaborative project by <a href="https://www.cimarron.io">Cimarrón IO</a>. <br>Want to contribute? <a href="https://github.com/cimarron-io/cimarron-io.github.io">Learn how</a>.</small></p>
    </div>
  </div>
</div>

<section class="mt-4 mb-5">
    
  <div class="container mb-4">
      <h1 class="font-weight-bold title">Explore datasettes</h1>    
      <div class="row">
      {% include menu-categories.html %}
      </div>
  </div>

  
<div class="container-fluid">
  
  <div class="card-columns">        
      {% for post in paginator.posts reversed %}
          {% include card-post.html %}
      {% endfor %}            
  </div>

  <div class="row justify-content-center mt-5">
   <!-- Pagination links -->
      {% if paginator.total_pages > 1 %}
      <div class="pagination"> 
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Previous</a>
        {% else %}
          <span class="prev">&laquo; Previous</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <span class="webjeda">{{ page }}</span>
          {% elsif page == 1 %}
            <a href="{{site.baseurl}}/">{{ page }}</a>
          {% else %}
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
          {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
        {% else %}
          <span class="next">Next &raquo;</span>
        {% endif %}
      </div>
      {% endif %}      
  </div>

</div>    

</section>
