---
title: "Cimarrón IO"
layout: default
description: "Imaginemos cosas chingonas."
permalink: /
---
<div class="container"></div>
<div class="jumbotron jumbotron-fluid text-dark">
  <div class="container">
    <div class="container">
      <h1 class="display-4">¡Hola! 👋🏼</h1>
      <p class="lead">My name is Sergio Sánchez Zavala but I go by Chekos (/che/ like Guevara, /kos/ like 'costly') and I hate non-reproducible "science".</p>
      <p class="lead">This is a curated list of publicly available tools, resources, projects, and code I’ve used throughout my career as a public policy researcher, data visualization analyst, and overall social science nerd.</p>
      <hr class="my-4">
      <p><small>This site is a collaborative project by <a href="https://www.cimarron.io">Cimarrón IO</a>. <br>Want to contribute? <a href="https://github.com/cimarron-io/cimarron-io.github.io">Learn how</a>.</small></p>
    </div>
  </div>
</div>

<section class="mt-4 mb-5">
  <div class="container mb-4">
    <h2 class="font-weight-bold title">Projects</h2>
  </div>

  <div class="container-fluid">
    <div class="card-columns">        
        {% for post in site.posts %}
            {% include card-post.html %}
        {% endfor %}            
    </div>
</section>