<!--  Replace top menu links here -->

<!-- <li class="nav-item">
    <a class="nav-link active" href="{{site.baseurl}}/">Inicio</a>
</li> -->
<li class="nav-item">
    <a class="nav-link" href="{{site.homeurl}}">home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories">datasettes categories</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://til.cimarron.io/">TIL</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{site.baseurl}}/">datasettes</a>
</li>
<li class="nav-item">
    <a class="nav-link" target="_blank" href="https://github.com/chekos/"><i class="fab fa-github fa-2x"></i></a>
</li>
<li class="nav-item">
    <a class="nav-link" target="_blank" href="https://twitter.com/ChekosWH/"><i class="fab fa-twitter fa-2x"></i></a>
</li>