---
layout: default
---
<section class="">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h1>datasettes about: <span style="text-decoration: underline dotted;">{{page.title}}</span></h1>
                </div>
                <div class="col-lg-4">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-columns">
                    {% for post in page.posts %}
                    {% include card-post.html %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% include menu-categories.html %}
            </div>
        </div>
    </div>
</section>